@media only screen and (max-width: 1100px)
  .main_container > .typewrite
    height: 3.6em
    width: 90%

@media only screen and (max-width: 600px)
  .main_container > .typewrite
    height: 5.4em
    width: 90%

@media only screen and (max-width: 400px)
  .main_container > .typewrite
    height: 7.2em
    width: 90%


@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

@keyframes reverse-rotation
  from
    transform: rotate(359deg)
  to
    transform: rotate(0deg)